/* General Elements */

html {
  overflow-y: scroll;
  background-color: #CCCCCC;
}

body {
  background-color: #CCCCCC;
}

.toast-header {
  background-color: darkgrey;
}

.toast-body {
  background-color: grey;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px;
  background-color: rgba(0, 0, 0, 0.0)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Navbar */

#logotitle {
  max-width: 100%;
  display: inline;
  text-align: center;
  margin: 0 auto;
  background-color: #8a8a8a;
}


nav {
  background-color: #8a8a8a;
}

.nav-link {
  font-size: 1.25rem;
  margin: 12px;
}

/* Main Body */

hr {
  color: red;
}

.container-fluid {
  padding: 3% 17%;
  background-color: #CCCCCC;
}

h1 {
  color: red;
  font-family: 'Roboto Mono', monospace;
  font-size: 4.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6vh;
  word-wrap: break-word;
}

p, li {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

img.content {
  min-width: 15vw;
  max-height: 17vh;

}

p.credit {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 610px) {
  h1 {
    font-size: 3rem;
  }
  p, li {
    font-size: 0.9rem;
  }
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
